/*style.css*/
.cover {
    position: relative;
    background-size: cover;
    overflow-x: hidden;
  }

.Jumbotron {
    left: 876px;
    position: absolute;
    padding-top: 10px;
}  
}
/* nav style desktop */
@media (min-width: 992px) { 
  .navbar-brand, .nav-link .Jumbotron{
      color: rgb(255, 255, 255) !important;
      text-transform: uppercase;
  }
@media (min-width: 576px){
  .navbar-brand, .nav-link, .layarpenuh{
      
  }
  
}
@media (min-width: 768px){
  .navbar-brand, .nav-link {

  }

}
}
/* style bottom */
.nav-link:hover::after,
#Jumbotron {
  content: '';
  display: block;
  border-bottom: 3px solid #1a86eb;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
.layarpenuh{
  margin-bottom: 300px;
}
.body {
  overflow-x: hidden;
}
]
/* akhir */
