/*style.css*/
.cover {
    position: relative;
    background-size: cover;
  }

.Jumbotron {
    left: 875px;
    position: absolute;
    padding-bottom: 20px;
}  
.layarpenuh{
  margin-bottom: 300px;
}
.body {
  overflow-x: hidden;
}
]
/* akhir */
