/*style.css*/
.cover {
    position: relative;
    background-size: cover;
    overflow-x: hidden;
  }

.Jumbotron {
    left: 875px;
    position: absolute;
    padding-top: 10px;
    weight: 150px;
}  
.layarpenuh{
  margin-bottom: 300px;
}
.body {
  overflow-x: hidden;
}
]
/* akhir */
